@import 'src/variables.scss';

.mainResearchers{
    &__cellpace{
        border-bottom: 2px solid #e4e4e4;
    }
    &__buttonExcel{
        background-color: #02723b;
    }
    &__colorSuccess{
        color: #20aa22;
    }
    &__colorWarning{
        color: #f5d133;
    }
    &__colorError{
        color: #f70000;
    }
    &__colorDelete{
        color: #f70000;
    }
    &__table{
        border: 2px solid #e4e4e4;
        border-radius: 10px;
    }
}
tr:nth-child(even) {
    background-color: #03a9f40f;
}