<section class="mainResearchers w-full flex justify-center items-center h-full">
    <section class="w-3/4 ">
        <div class="text-center mb-8 text-2xl font-bold">
            CASOS REPORTADOS
        </div>
        <section class="flex justify-between w-full mb-5 items-start">
            <form [formGroup]="formfilter" (ngSubmit)="onFormSubmit()" class="flex" >
                <div class="login__input m-2 text-sm">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Rango de fechas</mat-label>
                        <mat-date-range-input [formGroup]="formfilter" [rangePicker]="picker">
                          <input matStartDate formControlName="from" placeholder="Start date">
                          <input matEndDate formControlName="to" placeholder="End date">
                        </mat-date-range-input>
                        <!-- <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
    
                        <mat-error *ngIf="formfilter.get('from').hasError('required')">Ingrese la fecha inicial</mat-error>
                        <mat-error *ngIf="formfilter.get('to').hasError('required')">Ingrese la fecha final</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="mt-3">
                    <ro-button-flat
                        color="primary"
                        class="w-full"
                        type="submit"
                    >
                        <div class="text-lg my-2 flex items-center">
                            <mat-icon
                                [inline]="true"
                            >
                                search
                            </mat-icon> 
                            <div class="ml-2">
                                Buscar
                            </div>
                            
                        </div>
                    
                    </ro-button-flat>
                </div>
            </form>
            <div class="h-full pt-3  w-40">
                <ng-container *ngIf="!spinnerReport; else spinnerExportExcel">
                    <ro-button-flat
                        class="mainResearchers__buttonExcel"
                        color="accent"
                        (click)="exportExcel()"
                    >   
                        <div class="text-sm px-6 py-2 flex items-center">
                            <span class="mr-2">
                                <mat-icon 
                                    [inline]="true" 
                                    class="lastDepartaments__icon-user"
                                >
                                    cloud_download
                                </mat-icon>
                            </span>
                            Exportar
                        </div>
                    </ro-button-flat>
                </ng-container>
                <ng-template #spinnerExportExcel>
                    <div class="w-full flex justify-center py-3 ">
                        <mat-spinner color="primary" [diameter]="30"></mat-spinner>
                    </div>
                </ng-template>
            </div>
            
        </section>
        
        <table class="w-full mainResearchers__table">
            <tr class="">
                <th class="text-left mainResearchers__cellpace ro-font-black p-2">Emisor</th>
                <th class="text-left mainResearchers__cellpace ro-font-black p-2">Receptor</th>
                <th class="text-left mainResearchers__cellpace ro-font-black p-2">Asunto</th>
                <th class="text-left mainResearchers__cellpace ro-font-black p-2">Mensaje</th>
                <th class="text-left mainResearchers__cellpace ro-font-black p-2">Fecha</th>
                <th class="text-left mainResearchers__cellpace ro-font-black p-2">Estado</th>
                <th class="text-left mainResearchers__cellpace ro-font-black p-2">Porcentaje</th>
                <th class="text-left mainResearchers__cellpace ro-font-black p-2">Fecha de análisis</th>
                <th class="text-left mainResearchers__cellpace ro-font-black p-2" *ngIf="getRol()">Ejecutivo</th>
                <th class="text-left mainResearchers__cellpace ro-font-black p-2" *ngIf="getRol()">Correo</th>
            </tr>
            <tr class="mainResearchers__cellpace" *ngFor="let email of dataReport">
                <td class="p-2">{{ email.from }}</td>
                <td class="p-2">{{ email.to }}</td>
                <td class="p-2">{{ email.subject }}</td>
                <td class="p-2">{{ email.snippet }}</td>
                <td class="p-2">{{ email.dateMessage }}</td>
                <td class="p-2">
                    <div class=" text-2xl rounded-full mainResearchers__color{{ getStatusEmail(email) }}" [ngSwitch]="getStatusEmail(email)">
                        <mat-icon
                            [inline]="true"
                            *ngSwitchCase="'Success'"
                            class="cursor-pointer"
                            matTooltip="Leible"
                        >
                            check_circle
                        </mat-icon> 
                        <mat-icon
                            [inline]="true"
                            *ngSwitchCase="'Warning'"
                            class="cursor-pointer"
                            matTooltip="Pendiente"
                        >
                            error
                        </mat-icon> 
                        <mat-icon
                            [inline]="true"
                            *ngSwitchCase="'Error'"
                            class="cursor-pointer"
                            matTooltip="Phishing"
                        >
                            bug_report
                        </mat-icon> 
                        <mat-icon
                            class="cursor-pointer"
                            [inline]="true"
                            *ngSwitchCase="'Delete'"
                            matTooltip="Eliminado"
                        >
                            error
                        </mat-icon>
                        
                    </div>
                </td>
                <td class="p-2">{{ email.score }}</td>
                <td class="p-2">{{ email.dateAnalyzed }}</td>
                <td class="p-2" *ngIf="getRol()">{{ email.bankingExecutive_Name  }}</td>
                <td class="p-2" *ngIf="getRol()">{{ email.bankingExecutive_Email }}</td>
            </tr>
        </table>        
    </section>
</section>

