@import "variables.scss";

.login{
    &__container{
        display: grid;
        justify-items: center;
        align-items: center;
        width: 400px;
    }
    &__btnGoogle{
        cursor: pointer;
        
        border: 1px solid white;
        background-color: red;
        border-radius: 10px;
    }
    &__login__red{
        border: 1px solid red;
    }
    
    // height: 100vh;
    // &__container{

    // }
    // &__title{
    //     letter-spacing: 1px;
    //     text-transform: uppercase;
    // }
}
// button[mat-flat-button]{
//     width: 100%;
//     border-radius: 10px;
//     background-color: #3C5A9A;
//     padding: 5px 0;
// }
// p, h1{
//     margin: 0;
//     padding: 0;
// }

.custom-color-primary .mat-checkbox-frame {
    border-color: red;
}
@media only screen and (max-width: 600px) {
    .login{
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

