<section class="reportClientBussines w-full flex justify-center items-center flex-col h-full">
    <form [formGroup]="formAddReportClient" (ngSubmit)="onFormSubmit()" class="w-3/4">
        <div class="text-center mb-8 text-2xl font-bold">
            OPCIONES DE ROL
        </div>
        <table class="w-full reportClientBussines__table">
            <tr class="">
                <th class="text-left reportClientBussines__cellpace ro-font-black p-2">Rol</th>
                <th class="text-left reportClientBussines__cellpace ro-font-black text-center p-2">Acción</th>
            </tr>
            <tr class="reportClientBussines__cellpace" *ngFor="let rol of listRoles">
                <td class="p-2">
                    <div *ngIf="idInputEdit === rol.id ; else templateA" class="py-3">
                        <ro-input
                            class="w-full text-sm"
                            appearance="fill"
                            controlName="name" 
                            maxlength="150"
                            placeholder="Rol"
                        >
                        </ro-input>
                        <mat-error class="text-xs font-medium mb-2" *ngIf="formAddReportClient.get('name').hasError('required') && formAddReportClient.get('name').touched">Nombre del rol es requerido</mat-error>
                    </div>
                    <ng-template #templateA>
                        {{ rol.name }}
                    </ng-template>
                </td>
                <td class=" text-base flex justify-center items-center ro-font-blue p-2">
                    <div class="flex flex-row h-full">
                        <div class="mr-2 cursor-pointer">
                            <mat-icon 
                                [inline]="true" 
                                class="reportClientBussines__icon-user"
                                (click)="editRol(rol)"
                            >
                                edit
                            </mat-icon>
                        </div>
                        <div class="cursor-pointer">
                            <mat-icon 
                                [inline]="true" 
                                class="reportClientBussines__icon-user"
                                (click)="deleteRol(rol.id)"
                            >
                                delete_forever
                            </mat-icon>
                        </div>
                    </div>
                   
                </td>
            </tr>
        </table>
        <div class="reportClientBussines__input text-sm mt-4" *ngIf="showInput">
            <ro-input
                class="ro-input w-full text-sm"
                floatLabel="always"
                label="Nombre del nuevo rol"
                appearance="outline"
                controlName="name" 
                maxlength="150"
            >
            </ro-input>
            <mat-error class="text-xs font-medium mb-2" *ngIf="formAddReportClient.get('name').hasError('required') && formAddReportClient.get('name').touched">Nombre del rol es requerido</mat-error>
        </div>
        <section class="w-full py-3">
            <ro-button-stroked
                color= 'primary'
                class ="w-full"
                (click) = "showInputBtn()"
            >   
                <div class="text-lg px-6 py-2">
                    <mat-icon 
                        [inline]="true" 
                        lass="lastDepartaments__icon-user"
                    >
                        {{ showInput ? 'clear': 'add' }}
                        <!-- clear -->
                    </mat-icon>
                </div>
            </ro-button-stroked>
        </section>
        <section class="w-full flex justify-between mt-4">
            <ro-button-flat
                color= 'primary'
                class=""
                (click)="cancel()"
            >   
                <div class="text-sm px-6 py-2">
                    Cancelar
                </div>
            </ro-button-flat>
            <ro-button-flat
                color= 'primary'
                class=""
                type="submit"
                [disabled]='!formAddReportClient.valid'
            >   
                <div class="text-sm px-6 py-2">
                    Guardar
                </div>
            </ro-button-flat>
        </section>
    </form>
</section>
