<section class="footer flex justify-center pt-5 pb-3">
    <div class="flex flex-col w-full">
        
        <section class="footer__container text-base pb-5">
            <div class="footer__item-title px-5 pb-2">
                <h1 class="footer__title fsize-25">
                    Room out
                </h1>
                <h3 class="footer__subtitle fsize-20">
                    Modalidades
                </h3>
            </div>
            <div class="footer__item-1  px-5">
                <ul class="footer__column">
                    <li class="footer__cell">
                        Roomates
                    </li>
                    <li class="footer__cell">
                        Departamentos
                    </li>
                    <li class="footer__cell">
                        Mini departamentos
                    </li>
                    <li class="footer__cell">
                        Casas de playa - campo
                    </li>
                    <li class="footer__cell">
                        Habitaciones independientes
                    </li>
                </ul>
            </div>
            <div class="footer__item-2 px-5">
                <ul class="footer__column">
                    <li class="footer__cell">
                        Registrate
                    </li>
                    <li class="footer__cell">
                        Publica tu espacio
                    </li>
                    <li class="footer__cell footer__title-active fsize-15">
                        Servicio plus
                    </li>
                    <li class="footer__cell">
                        Encontramos tu depa ideal
                    </li>
                    <li class="footer__cell">
                        Habitaciones independientes
                    </li>
                </ul>
            </div>
            <div class="footer__item-3 px-5">
                <ul class="footer__column">
                    <li class="footer__cell footer__title-social fsize-15">
                        Siguenos
                    </li>
                    <li class="footer__cell">
                        <div class="flex flex-row">
                            <a  href="#" class="footer_container-icon">
                                <img src="../../../../assets//img//facebook.png" alt="" width="30">                            
                            </a>
                            <a  href="#" class="footer_container-icon">
                                <img src="../../../../assets//img//instagram.png" alt="" width="30">
                            </a>
                            <a  href="#" class="footer_container-icon">
                                <img src="../../../../assets//img//whatsApp.png" alt="" width="30">
                            </a>
                        </div>
                    </li>
                    <li class="footer__cell footer__title-social text-base">
                        Número de contacto
                    </li>
                    <li class="footer__cell">
                        <div class="flex flex-row align-items-center">
                            <div class="pr-2">
                                <img src="../../../../assets//img//call.png" alt="" width="30">                            
                            </div>
                            <div class="px-2 footer__phone fsize-20">
                                +51 993652799
                            </div>
                        </div>
                    </li>
                </ul> 
            </div>
        </section>
        <section class="flex justify-center flex-wrap">
            <div class="text-center">
                ©Copyright 2021 roomout.pe
            </div>
            <div class="text-center">
                Términos y condiciones de Uso - Términos y condiciones contratación - Política de privacidad
            </div>
        </section>
    </div>
</section>
