<section class="mainEndUser w-full flex justify-center items-center flex-col h-full">
    <section class="w-3/4">
            <div class="text-center mb-8 text-2xl font-bold">
                CORREOS RECIBIDOS
            </div>
            <ng-container *ngIf="showSpinner; else blockSppiner">
                <section class="flex">
                    <section>
                        <table class="p-3 mainEndUser__table" >
                            <tr class="mx-2 my-3">
                                <th class="text-left mainEndUser__cellpace ro-font-black p-2">Asunto</th>
                                <th class="text-left mainEndUser__cellpace ro-font-black p-2">Emisor</th>
                                <th class="text-left mainEndUser__cellpace ro-font-black p-2">Mensaje</th>
                                <th class="text-left mainEndUser__cellpace ro-font-black p-2">Analisis</th>
                                <th class="text-left mainEndUser__cellpace ro-font-black p-2">Acciones</th>
                                
                            </tr>
                            <tr class="mainEndUser__cellpace" *ngFor="let email of dataEmails" >
                                <td class="p-2">{{ email.subject }}</td>
                                <td class="p-2">{{ email.from }}</td>
                                <td class="p-2">{{ email.snippet }}</td>
                                <td class="text-2xl p-2">
                                    <div class="rounded-full mainEndUser__color{{ getStatusEmail(email) }}" [ngSwitch]="getStatusEmail(email)">
                                        <mat-icon
                                            [inline]="true"
                                            *ngSwitchCase="'Success'"
                                            class="cursor-pointer"
                                            matTooltip="Leible"
                                        >
                                            check_circle
                                        </mat-icon> 
                                        <mat-icon
                                            [inline]="true"
                                            *ngSwitchCase="'Warning'"
                                            class="cursor-pointer"
                                            matTooltip="Pendiente"
                                        >
                                            error
                                        </mat-icon> 
                                        <mat-icon
                                            [inline]="true"
                                            *ngSwitchCase="'Error'"
                                            class="cursor-pointer"
                                            matTooltip="Phishing"
                                        >
                                            bug_report
                                        </mat-icon> 
                                        <mat-icon
                                            class="cursor-pointer"
                                            [inline]="true"
                                            *ngSwitchCase="'Delete'"
                                            matTooltip="Eliminado"
                                        >
                                            error
                                        </mat-icon>
                                        
                                    </div>
                                </td>
                                <td class="p-2">
                                    <div class="flex justify-center items-center flex-col">
                                        <ng-container *ngIf="getStatusEmail(email) === 'Warning'">
                                            <ro-button-raised
                                                color="accent"
                                                class="mb-2"
                                                (click)="analyzeEmail(email)"
                                            >
                                                Analizar
                                            </ro-button-raised>
                                        </ng-container>
                                        <ng-container *ngIf="getStatusEmail(email) === 'Error'">
                                            <ro-button-raised
                                                color="warn"
                                                (click)="removeEmail(email)"
                                            >
                                                Eliminar
                                            </ro-button-raised>
                                        </ng-container>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <section class="mt-4 flex justify-end">
                            <div class="mainEndUser__card ro-font-white p-3 ">
                                <div class="my-2 p-0 font-bold">ASESOR EJECUTIVO</div>
                                <div>
                                    <span class="font-bold">Nombre :</span> {{ dataEmails && dataEmails[0].bankingExecutive_Name || '-' }}
                                </div>
                                <div>
                                    <span class="font-bold">Email :</span> {{ dataEmails && dataEmails[0].bankingExecutive_Email || '-' }}
                                </div>
                            </div>
                        </section>
                    </section>
                    <section>
                        <div class="mainEndUser__leyend mt-4 ml-4 py-3 pl-2 pr-7">
                            <div class="font-semibold text-sm ml-2 -mt-6 ro-bg-white text-center">Leyenda</div>
                            <div class="rounded-full mainEndUser__colorSuccess flex items-center justify-start m-2">
                                <div class="text-2xl pr-2">
                                    <mat-icon
                                        [inline]="true"
                                        class="cursor-pointer"
                                    >
                                        check_circle
                                    </mat-icon> 
                
                                </div>
                                <div>
                                    Leible
                                </div>
                            </div>
                            <div class="rounded-full mainEndUser__colorWarning flex items-center justify-start m-2">
                                <div class="text-2xl pr-2">
                                    <mat-icon
                                        [inline]="true"
                                        class="cursor-pointer"
                                    >
                                        error
                                    </mat-icon> 
                
                                </div>
                                <div>
                                    Pendiente
                                </div>
                            </div>
                            <div class="rounded-full mainEndUser__colorError flex items-center justify-start m-2">
                                <div class="text-2xl pr-2">
                                    <mat-icon
                                        [inline]="true"
                                        class="cursor-pointer"
                                    >
                                        bug_report
                                    </mat-icon> 
                
                                </div>
                                <div>
                                    Phishing
                                </div>
                            </div>
                            <div class="rounded-full mainEndUser__colorDelete flex items-center justify-start m-2">
                                <div class="text-2xl  pr-2">
                                    <mat-icon
                                        [inline]="true"
                                        class="cursor-pointer"
                                    >
                                        error
                                    </mat-icon> 
                
                                </div>
                                <div>
                                    Eliminado
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

            </ng-container>
           
            <ng-template #blockSppiner>
                <div class="w-full flex justify-center">
                    <mat-spinner [diameter]="30"></mat-spinner>
                </div>
            </ng-template>
        
    </section>
</section>