<div class="login d-flex justify-content-center align-items-center">
    <div class="login__container ">
        <div class="login__logo d-flex justify-content-center">
            <img src="../../../../assets/img/logo.svg" alt="" width="300">
        </div>
        <h1 class="login__title text-center">
            <b>Registrarse</b>
        </h1>
        <p class="text-center pb-3">
            Experimenta una nueva aventura
        </p>
       
        <button mat-flat-button  class="fcolor-white" (click)="register()" >
            Registrarse con Facebook
            <mat-icon>facebook</mat-icon>
        </button>
        <div class="d-flex justify-content-center pt-2">
            <mat-checkbox color="primary" class="example-margin">Acepto los Terminos y las políticas de privacidad</mat-checkbox>
        </div>
    </div>
</div>