<section class="container mx-auto main">
    <section class="w-full flex justify-end  mt-4">
        <!-- <form class="main__search w-1/2	 grid grid-cols-4 gap-4" [formGroup]="formSearch" (ngSubmit)="onFormSubmit()"  >
            <div class="col-span-3">
                <ro-input
                    class="ro-input"
                    appearance="outline"
                    controlName="search"
                    type="text"
                    placeholder="Buscar..."
                >
                </ro-input>
            </div>
            <div class="col-span-1 w-full main__button-search">
                <ro-button-flat
                    color="primary"
                    class="w-full"
                >
                <div class="text-3xl my-2">
                    <mat-icon
                        [inline]="true"
                        
                    >
                        search
                    </mat-icon> 
                </div>
                
                </ro-button-flat>
            </div>
            
        </form> -->
        <section class="main__search w-1/2 flex justify-end mx-4">
            <ro-button-flat
                color="primary"
                class="w-60"
                (click)="addNewUser()"
            >
            <div class="text-3xl flex items-center justify-center py-3">
                <span class="text-2xl  flex items-center">
                    <mat-icon
                        [inline]="true"
                    >
                            add
                    </mat-icon> 
                </span>
                
                <mat-icon
                    [inline]="true"
                >
                    perm_identity
                </mat-icon> 
               
            </div>
            </ro-button-flat>
        </section>
    </section>
    <section class="main__container my-8 flex flex-wrap justify-start">
        <div class="main__container-card m-1" *ngFor="let employee of listEmployees">
            <mat-card class="main__card">
                <mat-card-header>
                    <mat-card-title>{{ employee.name }} {{ employee.lastName }} {{ employee.secondLastName }}</mat-card-title>
                    <mat-card-subtitle>{{ employee.roleName }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="w-full grid grid-cols-2 gap-4">
                        <section class="">
                            <div class="p-1"> 
                                <span class="font-bold">Correo: </span> {{ employee.email }}
                            </div>
                        </section>
                        <section class="flex justify-center items-center">
                            <figure class="rounded-full p-4 border-4 border-black-500/100">
                                <img [src]="'../../../../../assets//icon-image/'+ (employee.gender === 1 ? 'male': 'female') +'.png'" alt="">
                            </figure>
                        </section>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <section class="flex justify-around">
                        <ro-button-raised
                            color="primary"
                            (click)="editaruser(employee)"
                        >
                            Editar
                        </ro-button-raised>
                        <ro-button-raised
                            color="warn"
                            (click)="deleteEmployee(employee.id)"
                        >
                            Eliminar
                        </ro-button-raised>
                        <ro-button-raised
                            color="accent"
                            (click)="activeEmployee(employee.id, employee.isActive)"
                        >
                            {{ employee.isActive ? 'Desactivar' :  'Activar'}}
                        </ro-button-raised>
                    </section>
                </mat-card-actions>
                <mat-card-footer>
                  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                </mat-card-footer>
              </mat-card>
        </div>
    </section>
</section>